* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
  font-family: "Poppins", sans-serif;
}
.menu {
  padding: 0 10px 30px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax (350px, lfr));
  grid-gap: 20px 40px;
}
.heading {
  background-color: #f9cf93;
  color: black;
  margin-bottom: 30px;
  padding: 30px 0;
  grid-column: 1/-1;
  text-align: center;
}
.heading > h1 {
  color: #a96700;
  font-size: 80px;
  margin-bottom: 10px;
  font-family: "Herr Von Muellerhoff", cursive;
}
.heading > h3 {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 5px;
}
.food-items {
  display: grid;
  grid-template-rows: auto lfr;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.food-items img {
  align-items: center;
  width: 150px;
  height: 150px;
  cursor: pointer;
  max-height: auto;
  border-radius: 15px;
}
.food-items img:hover {
  cursor: pointer;
  transform: translateY(-30px);
  transition: all ease 0.15s;
  opacity: 1;
}
h1 {
  grid-column: auto;
  text-align: center;
}
.details {
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto lfr 50px;
  grid-row-gap: 15px;
}
.details-sub {
  display: grid;
  grid-template-columns: auto auto;
}
.details-sub > h5 {
  font-weight: 600;
  font-size: 18px;
}
.price {
  text-align: right;
}
.details > p {
  color: black;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  align-self: stretch;
}

a:hover{
  text-decoration: none;
  color: red;
}