header .navigation-bar a:hover,
header nav.active .navigation-bar a:hover,
footer .social-media .links a:hover,
.copyright .info li a,
.copyright .CTA li a:hover {
  color: #a96700;
}
header nav .navigation-bar .underline,
header .text .button button:hover,
.contact .form form button:hover,
.contact .text i:hover {
  background-color: #a96700;
}
header .navigation-bar ul li,
header .text,
.about-us .text,
.reservation .text,
.menu .box-model,
.menu .text,
.fixed-image .text,
footer,
.copyright,
.contact .text i {
  text-align: center;
}
header nav,
header .navigation-bar ul,
.about-us,
.reservation,
.about-us .image-container,
.reservation .image-container,
.menu,
.menu .menu-image-container,
footer .contact-container,
.copyright ul,
.contact {
  display: flex;
}
header nav .toggle,
header nav .toggle span,
header .navigation-bar,
header .navigation-bar ul,
.menu .box-model .close,
footer .social-media .links a,
.copyright .CTA li a {
  transition: 0.3s;
}
header,
header nav .toggle span,
header .navigation-bar a,
header .text,
header .text .arrow .left,
header .text .arrow .right,
.recipes,
.menu .box-image-container,
.fixed-image .text,
.copyright,
.copyright .arrow-up {
  position: relative;
}
header nav .toggle,
header .navigation-bar .underline,
header .text .arrow .left:after,
header .text .arrow .right:after,
header .svg-down,
header .arrow-down,
.recipes .text,
.menu .box-model .close,
.menu .box-model .arrow .arrow-right,
.menu .box-model .arrow .arrow-left,
.menu .box-image-container .box-image,
.copyright .svg-up {
  position: absolute;
}
header nav,
header .navigation-bar a:hover .underline,
header .navigation-bar li.active .underline,
.menu .box-model,
.menu .box-image-container,
.menu .box-image-container .box-image {
  width: 100%;
}
